In [10]:
import pandas as pd

In [11]:
data={
    "Weekdays":["Sunday","Monday","Tuesday","Thursday"],
    "cities":["Casablanca","Safi","Rabat","Al Jadida"],
    "Wether":[13,12,24,18]
}

In [15]:
weather = pd.DataFrame(data)
weather

   Weekdays      cities  Wether
0    Sunday  Casablanca      13
1    Monday        Safi      12
2   Tuesday       Rabat      24
3  Thursday   Al Jadida      18

In [17]:
weather.index=["A","B","C","D"]

In [18]:
weather

   Weekdays      cities  Wether
A    Sunday  Casablanca      13
B    Monday        Safi      12
C   Tuesday       Rabat      24
D  Thursday   Al Jadida      18